@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust:100%;/*禁止文字缩放*/
 /* -webkit-user-select:none;*//*IOS去除文字长按*/
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
html {
  font-size: 62.5%;
  color: #666;
  font-family: 'Microsoft Yahei','Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
}
body{ 
-webkit-overflow-scrolling: touch;

}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

/* remember to define focus styles! */
:focus {outline: 0;}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}

blockquote:before, blockquote:after,
q:before, q:after { content: "";}

blockquote, q { quotes: "" "";}

.cf:before,.cf:after {content:"";display:table;}
.cf:after {clear:both;}
/* IE 6/7浏览器 (触发hasLayout) */
.cf {*zoom:1;}
img {
  border: none;
  vertical-align: middle;
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  outline: none;
/*设置的tap  A标签的时候出现的黑色高亮*/
-webkit-tap-highlight-color: transparent; 
}
a:active { outline: 0; }
.clearfix {
  zoom: 1;
}
a,
input,
button{
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
em {
  font-style: normal;
}
input {
  outline: none;
}
input[type="text"],
input[type="tel"] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 去除iphone ipad 设备默认按钮样式 */
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: 0; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }